@font-face {
  font-family: SansForgetica;
  src: url("assets/SansForgetica-Regular.otf") format("opentype");
}

body {
  font-family: SansForgetica, sans-serif;
}

:target {
  background-color: yellow;
}